<a href="https://colab.research.google.com/github/yash-3/machine-learning/blob/main/KNN_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task**: Use K-Nearest Neighbour to Identify the class of Flower From Iris Dataset

In [1]:
import numpy as np      #To Prform Numerical Operation
import matplotlib.pyplot as plt   #plot something 
import pandas as pd     #To Play With Dataset
import math

In [2]:
# fetch dataset from url
url ="https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
names = ['sepal lenght','sepal width','petal length','petal width','class']
dataset = pd.read_csv(url,names=names)

In [3]:
dataset.head()

   sepal lenght  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
dataset.tail()

     sepal lenght  sepal width  petal length  petal width           class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [5]:
dataset.shape

(150, 5)

In [6]:
training = dataset.values[:,0:4]

In [7]:
training.shape

(150, 4)

In [8]:
trainingclass = dataset.values[:,-1]

In [9]:
trainingclass.shape

(150,)

In [10]:
# Calculate Distance between two points using Euclidean distance
def euclidean_distance(d1,d2):
    distance=0.0
    for i in range(len(d1)):
        distance+=(d1[i]-d2[i])**2
    return math.sqrt(distance)

In [11]:
#To convert categorical value to numerical value
unique_list=[]
for x in trainingclass:
    if x not in unique_list:
        unique_list.append(x)

print(unique_list)

for i in range(len(trainingclass)):
    for k in range(len(unique_list)):
        if(trainingclass[i] == unique_list[k]):
            trainingclass[i]=k

print(trainingclass)

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [12]:
# Calculate distance from any one point to other all points
distance=[]
for i in range(len(training)):
    distance.append([euclidean_distance(training[i],training[0]),trainingclass[i]])
print(distance)

[[0.0, 0], [0.5385164807134502, 0], [0.509901951359278, 0], [0.648074069840786, 0], [0.1414213562373093, 0], [0.6164414002968979, 0], [0.5196152422706632, 0], [0.17320508075688762, 0], [0.9219544457292882, 0], [0.4690415759823426, 0], [0.37416573867739483, 0], [0.3741657386773941, 0], [0.5916079783099616, 0], [0.9949874371066197, 0], [0.8831760866327848, 0], [1.1045361017187267, 0], [0.5477225575051664, 0], [0.09999999999999998, 0], [0.7416198487095667, 0], [0.33166247903553986, 0], [0.4358898943540679, 0], [0.30000000000000016, 0], [0.648074069840786, 0], [0.46904157598234303, 0], [0.5916079783099616, 0], [0.5477225575051662, 0], [0.316227766016838, 0], [0.14142135623730995, 0], [0.14142135623730995, 0], [0.53851648071345, 0], [0.5385164807134504, 0], [0.3872983346207423, 0], [0.6244997998398396, 0], [0.8062257748298554, 0], [0.4690415759823426, 0], [0.37416573867739383, 0], [0.41231056256176635, 0], [0.4690415759823426, 0], [0.866025403784438, 0], [0.14142135623730964, 0], [0.17320508075688743, 0], [1.3490737563232043, 0], [0.7681145747868601, 0], [0.45825756949558394, 0], [0.6164414002968975, 0], [0.5916079783099616, 0], [0.3605551275463989, 0], [0.58309518948453, 0], [0.30000000000000027, 0], [0.22360679774997896, 0], [4.003748243833521, 1], [3.6166282640050254, 1], [4.164132562731403, 1], [3.093541659651604, 1], [3.792097045171708, 1], [3.416138170507745, 1], [3.7854986461495406, 1], [2.345207879911715, 1], [3.749666651850535, 1], [2.8879058156387303, 1], [2.703701166919155, 1], [3.228002478313795, 1], [3.146426544510455, 1], [3.7, 1], [2.5806975801127883, 1], [3.627671429443412, 1], [3.4351128074635335, 1], [3.009983388658482, 1], [3.7682887362833544, 1], [2.882707061079915, 1], [3.8535697735995385, 1], [3.0757112998459397, 1], [4.047221268969613, 1], [3.6578682316343767, 1], [3.416138170507745, 1], [3.59722114972099, 1], [4.047221268969612, 1], [4.244997055358225, 1], [3.531288716601915, 1], [2.4939927826679855, 1], [2.8178005607210745, 1], [2.7018512172212596, 1], [2.8948229652260253, 1], [4.135214625627066, 1], [3.411744421846396, 1], [3.5199431813596087, 1], [3.9115214431215897, 1], [3.6180105030251095, 1], [2.9999999999999996, 1], [3.0215889859476257, 1], [3.3120990323358397, 1], [3.59583091927304, 1], [3.0099833886584824, 1], [2.387467277262665, 1], [3.1527765540868895, 1], [3.07408522978788, 1], [3.1256999216175574, 1], [3.3451457367355464, 1], [2.0904544960366875, 1], [3.057776970284131, 1], [5.2848841046895245, 2], [4.208325082500163, 2], [5.301886456724625, 2], [4.690415759823429, 2], [5.056678751908213, 2], [6.0950799830683104, 2], [3.591656999213594, 2], [5.636488268416782, 2], [5.047771785649585, 2], [5.639148871948673, 2], [4.356604182158392, 2], [4.519955751995809, 2], [4.853864439804639, 2], [4.190465367951393, 2], [4.417012565071555, 2], [4.626013402488151, 2], [4.645427859734774, 2], [6.240192304729079, 2], [6.498461356351979, 2], [4.141255848169732, 2], [5.121523210920752, 2], [4.028647415696738, 2], [6.211280061307815, 2], [4.109744517606904, 2], [4.969909455915672, 2], [5.31224999411737, 2], [3.9774363602702683, 2], [4.007492981902776, 2], [4.840454524112379, 2], [5.0970579749498635, 2], [5.546169849544818, 2], [6.014149981501959, 2], [4.880573736764972, 2], [4.160528812542944, 2], [4.570557952810575, 2], [5.788782255362521, 2], [4.891829923454003, 2], [4.606517122512408, 2], [3.8961519477556315, 2], [4.796873982084583, 2], [5.0199601592044525, 2], [4.636809247747852, 2], [4.208325082500163, 2], [5.2573757712379665, 2], [5.136146415358503, 2], [4.654030511288039, 2], [4.27668095606862, 2], [4.459820624195552, 2], [4.650806381693394, 2], [4.1400483088968905, 2]]

In [13]:
len(distance)

150

In [14]:
distance.sort()
distance

[[0.0, 0],
 [0.09999999999999998, 0],
 [0.1414213562373093, 0],
 [0.14142135623730964, 0],
 [0.14142135623730995, 0],
 [0.14142135623730995, 0],
 [0.17320508075688743, 0],
 [0.17320508075688762, 0],
 [0.22360679774997896, 0],
 [0.30000000000000016, 0],
 [0.30000000000000027, 0],
 [0.316227766016838, 0],
 [0.33166247903553986, 0],
 [0.3605551275463989, 0],
 [0.37416573867739383, 0],
 [0.3741657386773941, 0],
 [0.37416573867739483, 0],
 [0.3872983346207423, 0],
 [0.41231056256176635, 0],
 [0.4358898943540679, 0],
 [0.45825756949558394, 0],
 [0.4690415759823426, 0],
 [0.4690415759823426, 0],
 [0.4690415759823426, 0],
 [0.46904157598234303, 0],
 [0.509901951359278, 0],
 [0.5196152422706632, 0],
 [0.53851648071345, 0],
 [0.5385164807134502, 0],
 [0.5385164807134504, 0],
 [0.5477225575051662, 0],
 [0.5477225575051664, 0],
 [0.58309518948453, 0],
 [0.5916079783099616, 0],
 [0.5916079783099616, 0],
 [0.5916079783099616, 0],
 [0.6164414002968975, 0],
 [0.6164414002968979, 0],
 [0.6244997998398396, 0],
 [0.648074069840786, 0],
 [0.648074069840786, 0],
 [0.7416198487095667, 0],
 [0.7681145747868601, 0],
 [0.8062257748298554, 0],
 [0.866025403784438, 0],
 [0.8831760866327848, 0],
 [0.9219544457292882, 0],
 [0.9949874371066197, 0],
 [1.1045361017187267, 0],
 [1.3490737563232043, 0],
 [2.0904544960366875, 1],
 [2.345207879911715, 1],
 [2.387467277262665, 1],
 [2.4939927826679855, 1],
 [2.5806975801127883, 1],
 [2.7018512172212596, 1],
 [2.703701166919155, 1],
 [2.8178005607210745, 1],
 [2.882707061079915, 1],
 [2.8879058156387303, 1],
 [2.8948229652260253, 1],
 [2.9999999999999996, 1],
 [3.009983388658482, 1],
 [3.0099833886584824, 1],
 [3.0215889859476257, 1],
 [3.057776970284131, 1],
 [3.07408522978788, 1],
 [3.0757112998459397, 1],
 [3.093541659651604, 1],
 [3.1256999216175574, 1],
 [3.146426544510455, 1],
 [3.1527765540868895, 1],
 [3.228002478313795, 1],
 [3.3120990323358397, 1],
 [3.3451457367355464, 1],
 [3.411744421846396, 1],
 [3.416138170507745, 1],
 [3.416138170507745, 1],
 [3.4351128074635335, 1],
 [3.5199431813596087, 1],
 [3.531288716601915, 1],
 [3.591656999213594, 2],
 [3.59583091927304, 1],
 [3.59722114972099, 1],
 [3.6166282640050254, 1],
 [3.6180105030251095, 1],
 [3.627671429443412, 1],
 [3.6578682316343767, 1],
 [3.7, 1],
 [3.749666651850535, 1],
 [3.7682887362833544, 1],
 [3.7854986461495406, 1],
 [3.792097045171708, 1],
 [3.8535697735995385, 1],
 [3.8961519477556315, 2],
 [3.9115214431215897, 1],
 [3.9774363602702683, 2],
 [4.003748243833521, 1],
 [4.007492981902776, 2],
 [4.028647415696738, 2],
 [4.047221268969612, 1],
 [4.047221268969613, 1],
 [4.109744517606904, 2],
 [4.135214625627066, 1],
 [4.1400483088968905, 2],
 [4.141255848169732, 2],
 [4.160528812542944, 2],
 [4.164132562731403, 1],
 [4.190465367951393, 2],
 [4.208325082500163, 2],
 [4.208325082500163, 2],
 [4.244997055358225, 1],
 [4.27668095606862, 2],
 [4.356604182158392, 2],
 [4.417012565071555, 2],
 [4.459820624195552, 2],
 [4.519955751995809, 2],
 [4.570557952810575, 2],
 [4.606517122512408, 2],
 [4.626013402488151, 2],
 [4.636809247747852, 2],
 [4.645427859734774, 2],
 [4.650806381693394, 2],
 [4.654030511288039, 2],
 [4.690415759823429, 2],
 [4.796873982084583, 2],
 [4.840454524112379, 2],
 [4.853864439804639, 2],
 [4.880573736764972, 2],
 [4.891829923454003, 2],
 [4.969909455915672, 2],
 [5.0199601592044525, 2],
 [5.047771785649585, 2],
 [5.056678751908213, 2],
 [5.0970579749498635, 2],
 [5.121523210920752, 2],
 [5.136146415358503, 2],
 [5.2573757712379665, 2],
 [5.2848841046895245, 2],
 [5.301886456724625, 2],
 [5.31224999411737, 2],
 [5.546169849544818, 2],
 [5.636488268416782, 2],
 [5.639148871948673, 2],
 [5.788782255362521, 2],
 [6.014149981501959, 2],
 [6.0950799830683104, 2],
 [6.211280061307815, 2],
 [6.240192304729079, 2],
 [6.498461356351979, 2]]

In [15]:
nearest_neighbour = 7

In [16]:
identify=[0 for i in range(len(unique_list))]
for i in range(nearest_neighbour):
    identify[distance[i][1]]=identify[distance[i][1]]+1
print(identify)

[7, 0, 0]

In [17]:
print("The Predicted Class is : ",unique_list[identify.index(max(identify))])

The Predicted Class is :  Iris-setosa