<a href="https://colab.research.google.com/github/yash-3/machine-learning/blob/main/Random_Forest_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np      #To Prform Numerical Operation
import matplotlib.pyplot as plt   #plot something 
import pandas as pd     #To Play With Dataset

In [2]:
from google.colab import drive  #import gogle drive data

In [3]:
drive.mount('/content/drive') # mount drive data into colab cloud and enter authentication code

Mounted at /content/drive

In [4]:
cd /content/drive/"My Drive/Colab Notebooks/Dataset Files"

/content/drive/My Drive/Colab Notebooks/Dataset Files

In [5]:
dataset=pd.read_csv("temps.csv")
print(dataset)
dataset.shape

     year  month  day  ... forecast_acc  forecast_under  friend
0    2016      1    1  ...           50              44      29
1    2016      1    2  ...           50              44      61
2    2016      1    3  ...           46              47      56
3    2016      1    4  ...           48              46      53
4    2016      1    5  ...           46              46      41
..    ...    ...  ...  ...          ...             ...     ...
343  2016     12   27  ...           50              47      47
344  2016     12   28  ...           49              44      58
345  2016     12   29  ...           50              45      65
346  2016     12   30  ...           46              44      42
347  2016     12   31  ...           48              47      57

[348 rows x 12 columns]

(348, 12)

In [6]:
dataset.head()

   year  month  day  week  ...  forecast_noaa  forecast_acc  forecast_under  friend
0  2016      1    1   Fri  ...             43            50              44      29
1  2016      1    2   Sat  ...             41            50              44      61
2  2016      1    3   Sun  ...             43            46              47      56
3  2016      1    4   Mon  ...             44            48              46      53
4  2016      1    5  Tues  ...             46            46              46      41

[5 rows x 12 columns]

In [7]:
dataset.shape

(348, 12)

In [8]:
dataset.describe()

         year       month         day  ...  forecast_acc  forecast_under      friend
count   348.0  348.000000  348.000000  ...    348.000000      348.000000  348.000000
mean   2016.0    6.477011   15.514368  ...     62.373563       59.772989   60.034483
std       0.0    3.498380    8.772982  ...     10.549381       10.705256   15.626179
min    2016.0    1.000000    1.000000  ...     46.000000       44.000000   28.000000
25%    2016.0    3.000000    8.000000  ...     53.000000       50.000000   47.750000
50%    2016.0    6.000000   15.000000  ...     61.000000       58.000000   60.000000
75%    2016.0   10.000000   23.000000  ...     72.000000       69.000000   71.000000
max    2016.0   12.000000   31.000000  ...     82.000000       79.000000   95.000000

[8 rows x 11 columns]

In [9]:
dataset = pd.get_dummies(dataset)
dataset.head()

   year  month  day  temp_2  ...  week_Sun  week_Thurs  week_Tues  week_Wed
0  2016      1    1      45  ...         0           0          0         0
1  2016      1    2      44  ...         0           0          0         0
2  2016      1    3      45  ...         1           0          0         0
3  2016      1    4      44  ...         0           0          0         0
4  2016      1    5      41  ...         0           0          1         0

[5 rows x 18 columns]

In [10]:
dataset.shape

(348, 18)

In [11]:
labels = np.array(dataset['actual'])
labels

array([45, 44, 41, 40, 44, 51, 45, 48, 50, 52, 45, 49, 55, 49, 48, 54, 50,
       54, 48, 52, 52, 57, 48, 51, 54, 56, 57, 56, 52, 48, 47, 46, 51, 49,
       49, 53, 49, 51, 57, 62, 56, 55, 58, 55, 56, 57, 53, 51, 53, 51, 51,
       60, 59, 61, 60, 57, 53, 58, 55, 59, 57, 64, 60, 53, 54, 55, 56, 55,
       52, 54, 49, 51, 53, 58, 63, 61, 55, 56, 57, 53, 54, 57, 59, 51, 56,
       64, 68, 73, 71, 63, 69, 60, 57, 68, 77, 76, 66, 59, 58, 60, 59, 59,
       60, 68, 77, 89, 81, 81, 73, 64, 65, 55, 59, 60, 61, 64, 61, 68, 77,
       87, 74, 60, 68, 77, 82, 63, 67, 75, 81, 77, 82, 65, 57, 60, 71, 64,
       63, 66, 59, 66, 65, 66, 66, 65, 64, 64, 64, 71, 79, 75, 71, 80, 81,
       92, 86, 85, 67, 65, 67, 65, 70, 66, 60, 67, 71, 67, 65, 70, 76, 73,
       75, 68, 69, 71, 78, 85, 79, 74, 73, 76, 76, 71, 68, 69, 76, 68, 74,
       71, 74, 74, 77, 75, 77, 76, 72, 80, 73, 78, 82, 81, 71, 75, 80, 85,
       79, 83, 85, 88, 76, 73, 77, 73, 75, 80, 79, 72, 72, 73, 72, 76, 80,
       87, 90, 83, 84, 81, 79, 75, 70, 67, 68, 68, 68, 67, 72, 74, 77, 70,
       74, 75, 79, 71, 75, 68, 69, 71, 67, 68, 67, 64, 67, 76, 77, 69, 68,
       66, 67, 63, 65, 61, 63, 66, 63, 64, 68, 57, 60, 62, 66, 60, 60, 62,
       60, 60, 61, 58, 62, 59, 62, 62, 61, 65, 58, 60, 65, 68, 59, 57, 57,
       65, 65, 58, 61, 63, 71, 65, 64, 63, 59, 55, 57, 55, 50, 52, 55, 57,
       55, 54, 54, 49, 52, 52, 53, 48, 52, 52, 52, 46, 50, 49, 46, 40, 42,
       40, 41, 36, 44, 44, 43, 40, 39, 39, 35, 35, 39, 46, 51, 49, 45, 40,
       41, 42, 42, 47, 48, 48, 57, 40])

In [12]:
features = dataset.drop('actual',axis=1)
features

     year  month  day  temp_2  ...  week_Sun  week_Thurs  week_Tues  week_Wed
0    2016      1    1      45  ...         0           0          0         0
1    2016      1    2      44  ...         0           0          0         0
2    2016      1    3      45  ...         1           0          0         0
3    2016      1    4      44  ...         0           0          0         0
4    2016      1    5      41  ...         0           0          1         0
..    ...    ...  ...     ...  ...       ...         ...        ...       ...
343  2016     12   27      42  ...         0           0          1         0
344  2016     12   28      42  ...         0           0          0         1
345  2016     12   29      47  ...         0           1          0         0
346  2016     12   30      48  ...         0           0          0         0
347  2016     12   31      48  ...         0           0          0         0

[348 rows x 17 columns]

In [13]:
features_list = list(features.columns)
features = np.array(features)
features_list

['year',
 'month',
 'day',
 'temp_2',
 'temp_1',
 'average',
 'forecast_noaa',
 'forecast_acc',
 'forecast_under',
 'friend',
 'week_Fri',
 'week_Mon',
 'week_Sat',
 'week_Sun',
 'week_Thurs',
 'week_Tues',
 'week_Wed']

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
train_fatures,test_features,train_labels,test_labels=train_test_split(features,labels,test_size=0.25,random_state=50)

In [16]:
from sklearn.ensemble import RandomForestRegressor

In [17]:
rf = RandomForestRegressor(n_estimators=1000,random_state=50)

In [18]:
rf.fit(train_fatures,train_labels)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=50, verbose=0, warm_start=False)

In [19]:
predictions = rf.predict(test_features)
predictions

array([57.887, 81.555, 60.751, 71.917, 71.794, 65.233, 56.958, 60.893,
       58.446, 67.734, 71.925, 42.578, 58.789, 46.096, 61.001, 65.341,
       57.35 , 64.251, 65.912, 73.392, 74.17 , 59.986, 52.46 , 72.142,
       70.803, 65.636, 73.432, 51.039, 67.054, 74.371, 51.034, 61.854,
       56.052, 74.974, 69.967, 42.153, 73.737, 43.996, 50.623, 72.372,
       72.402, 45.116, 70.256, 54.089, 55.889, 61.95 , 59.996, 55.578,
       60.091, 75.196, 56.008, 62.155, 47.979, 67.105, 51.18 , 77.235,
       80.576, 66.259, 67.783, 61.933, 41.965, 68.711, 50.908, 70.708,
       54.697, 54.676, 72.541, 70.725, 81.12 , 50.388, 52.23 , 64.962,
       81.052, 46.555, 70.266, 82.166, 66.584, 46.282, 65.939, 46.842,
       66.949, 60.954, 67.126, 70.367, 56.518, 51.756, 51.37 ])

In [20]:
errors = abs(predictions-test_labels)

In [21]:
#Mean Absolute percentage error
mape = 100*(errors/test_labels)

mean_error = np.mean(mape)

In [22]:
accuracy = 100-mean_error
accuracy

94.18555758090562

In [26]:
from sklearn.tree import export_graphviz
import pydot

In [27]:
tree = rf.estimators_[5]
export_graphviz(tree,out_file='tree.dot',feature_names=features_list,rounded=True,precision=2)

In [25]:
(graph,) = pydot.graph_from_dot_file('tree.dot')
graph.write_png('tree.png');